<!DOCTYPE html>
<html lang="en">
<head><%- include("../layout/head.ejs") %></head>
<body>
  <header><%- include("../layout/header.ejs") %></header>
  <div>
    <h1>Welcome!</h1>
    <p><Lorem></Lorem></p>
    <button>Deductible Tracker</button>
    <button>Out of Pocket Cost Tracker</button>
    <button>healthcare.gov FINDER API</button>
    <button>Medicare Information</button>
    <button>Glossary</button>
  </div>
  <footer><%- include("../layout/footer.ejs") %></footer>
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
</body>
</html>

