<button><img src="../../images/hamburgerMenuSprite.png"></a></button>
<section class="hide-nav">
  <nav>
    <ul>
      <li><a href="/"></a>Home</li>
      <li><a href="/"></a>Finder</li>
      <li><a href="/"></a>Tracker</li>
      <li><a href="/"></a>About</li>
    </ul>
  </nav>
</section>