<section id ="form" class="hide-form">
  <form action="submit" method="post"></form>
    <input type="hidden" name="_method" value="">
    <input type="text" name="name" value="" placeholder="location">
    <button>Submit</button>
  </form>
</section>