<section id="form" class="hide-form">
  <form action="/location" method="post">
    <input type="text" name="citysearch" value="" placeholder="Enter Your City & ST" class="submission" required>
    <button type="submit" id="submitButton">Submit</button>
  </form>
</section>