<section class="hide-form">
  <form action="<%= 'update ' === formAction ? `/update/${task.id}` :'/add' %>" method="post" class="hide-form"></form>
    <input type="hidden" name="_method" value="<%- 'update' === formAction ? 'put' : 'post' %>">
    <input type="text" name="name" value="<%- 'x.name' %>" placeholder="doctor_name">
    <input type="text" name="location" value="<%- 'x.location' %>" placeholder="provider">
  </form>
</section>