<header>
  <div class="logo">
    <img class="logo-img" src="../../images/logo.png">
    <span class="logo-font">Find</span>
  </div>
  <nav role="navigation">
    <div id="toggleMenu">
      <input type="checkbox" />
      <span></span>
      <span></span>
      <span></span>
      <ul id="menu">
        <a href="/"><li>Home</li></a>
        <a href="https://www.who.int/"><li>World Health Organization</li></a>
        <a href="https://betterdoctor.com/"><li>API Info</li></a>
      </ul>
    </div>
  </nav>
  </section>
</header>