<header>
  <div class="logo">
    <img class="logo-img" src="../../images/logo.png">
    <span class="logo-font">Find</span>
  </div>
  <nav role="navigation">
    <div id="toggleMenu">
      <input type="checkbox" />
      <span></span>
      <span></span>
      <span></span>
      <ul id="menu">
        <a href="/views/index.ejs"><li>Home</li></a>
        <a href="/views/pages/finder.ejs"><li>Results</li></a>
        <a href="/views/pages/guide.ejs"><li>Guide</li></a>
      </ul>
    </div>
  </nav>
  </section>
</header>